<div class="container">
    <form>
        <div class="row">
            <h4>פרטים אישיים</h4>
            <div class="input-group input-group-icon"><input type="text" name="a" #first_name placeholder="שם פרטי" />
               
            </div>

            <div class="input-group input-group-icon"><input type="email" name="b" #last_name placeholder="שם משפחה" />
               
            </div>
            <div class="input-group input-group-icon"><input type="password" name="c" #id_num placeholder="תעודת זהות" />

            </div>
        </div>
        <div class="row">
            <div class="col-half">
                <h4>תאריך לידה</h4>
                <div class="input-group">
                    <div class="col-third"><input type="text" placeholder="DD" name="d" #day/></div>
                    <div class="col-third"><input type="text" placeholder="MM" name="e" #month /></div>
                    <div class="col-third"><input type="text" placeholder="YYYY" name="f" #year /></div>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>כתובת</h4>
            <div class="col-half">
                <div class="input-group input-group-icon"><input type="text" name="g" #city placeholder="עיר" />
                </div>
            </div>
            <div class="col-half">
                <div class="input-group"><input class="a" type="text" name="h" #numhome placeholder="מספר"><input class="a" name="i" #street type="text" placeholder="רחוב"></div>
            </div>
        </div>
        <div class="row">
            <h4>מספרי טלפון</h4>
            <div class="input-group input-group-icon"><input type="text" name="j" #cell_phone placeholder="טלפון" /></div>
            <div class="input-group input-group-icon"><input type="text" name="k" #phone placeholder="טלפון נייד"/></div>

        </div>
        <input type="button" value="הצטרף לקופה" (click)="addhmomember(first_name.value,last_name.value,id_num.value,day.value,month.value,year.value ,city.value,street.value,numhome.value,cell_phone.value,phone.value)"/>
    </form>
</div>