<div class="container">
    <form>
        <div class="row">
            <h4>פרטים אישיים</h4>
            <div class="input-group input-group-icon"><input type="text" placeholder="שם פרטי" />
               
            </div>

            <div class="input-group input-group-icon"><input type="email" placeholder="שם משפחה" />
               
            </div>
            <div class="input-group input-group-icon"><input type="password" placeholder="תעודת זהות" />

            </div>
        </div>
        <div class="row">
            <div class="col-half">
                <h4>תאריך לידה</h4>
                <div class="input-group">
                    <div class="col-third"><input type="text" placeholder="DD" /></div>
                    <div class="col-third"><input type="text" placeholder="MM" /></div>
                    <div class="col-third"><input type="text" placeholder="YYYY" /></div>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>כתובת</h4>
            <div class="col-half">
                <div class="input-group input-group-icon"><input type="text" placeholder="עיר" />
                </div>
            </div>
            <div class="col-half">
                <div class="input-group"><input class="a" type="text" placeholder="מספר"><input class="a" type="text" placeholder="רחוב"></div>
            </div>
        </div>
        <div class="row">
            <h4>מספרי טלפון</h4>
            <div class="input-group input-group-icon"><input type="text" placeholder="טלפון" /></div>
            <div class="input-group input-group-icon"><input type="text" placeholder="טלפון נייד"/></div>

        </div>
        <input type="button" value="הצטרף לקופה" />
    </form>
</div>